.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: 700;
  margin-top: 75px;
}
.show-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.arrow-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-Name {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
}
.company-Name {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 14px;
}
.description {
  text-align: center;
  color: #171f46;
  font-family: 'Roboto';
  font-size: 16px;
}
